<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> radio </title>
</head>

<body>
    <div id="app">
        <h5>pilih yang di sukai :</h5>
        <input type="checkbox" value="sepak bola" v-model="ceklis">
        <label for="checkbox">sepak bola</label> <br>
        <input type="checkbox" value="bulu tangkis" v-model="ceklis">
        <label for="checkbox">Bulu Tangkis</label> <br>
        <input type="checkbox" value="basket" v-model="ceklis">
        <label for="checkbox"> basket</label>
        <p>hal yang di sukai adlaah :</p>
        <ul>
            <li v-for="centang in ceklis">
                {{centang}}
            </li>
        </ul>
    </div>
    <script src="vendor/vue.js"></script>
    <script src="js/app.js"></script>
</body>

</html>